@page "/Dashboard/Alumnos/{id}"
@using Mientreno.Server.Extensions
@model SingleAlumnoModel
@{
	ViewData["Title"] = @Model.Alumno.NombreCompleto;
}

<main id="main-container">
	<h1>
		@Model.Alumno.NombreCompleto
	</h1>
	<!--
	<div class="title-with-action">
		<h2>@AppStrings.cuestionarios</h2>
		<a href="#" class="button button-disabled">+ @AppStrings.Action_Create @AppStrings.cuestionario</a>
	</div>

	@if (Model.Alumno.Cuestionarios.Count == 0)
	{
		<div class="alert alert-bad" role="alert">
			<strong class="alert-title">@AppStrings.dashboard_NoCuestionariosCreated</strong>
			<p>@AppStrings.availableSoon</p>
		</div>
	}-->

	<div class="title-with-action">
		<h2>@AppStrings.Noun_Rutina_Plural</h2>
		<a href="@Model.Id/Plan" class="button button-primary">+ @AppStrings.Action_Create @AppStrings.Noun_Plan_Singular</a>
	</div>

	@if (Model.Alumno.JornadasEntrenamientos.Count == 0)
	{
		<div class="alert alert-bad" role="alert">
			<strong class="alert-title">
				@AppStrings.dashboard_NoPlansCreated
			</strong>
		</div>
	}

	<section id="section-planes">
		@foreach (var rutina in Model.Alumno.JornadasEntrenamientos.OrderBy(r => r.Estado))
		{
			<a href="@Model.Id/Plan?p=@rutina.Id" class="link link-no-underline">
				<span class="badge badge-@rutina.BadgeColour">@rutina.BadgeText</span>
				-
				<span class="link link-text">
					@if (rutina.Nombre.IsNullOrWhiteSpace())
					{
						<i>@AppStrings.Noun_JornadaEntrenamiento_NoName</i>
					}

					@rutina.Nombre
					-
					@rutina.UltimaFecha.ToString("dd MMMM yyyy', ' HH:mm")
				</span>
			</a>
		}
	</section>
</main>