@page "/Dashboard/Alumnos/{id}"
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Mientreno.Server.Service
@model SingleAlumnoModel
@{
	ViewData["Title"] = @Model.Alumno.NombreCompleto;
}

<main id="main-container">
	<h1>
		@Model.Alumno.NombreCompleto
	</h1>

	<div class="title-with-action">
		<h2>@AppStrings.cuestionarios</h2>
		<a href="#" class="button button-disabled">+ @AppStrings.Action_Create @AppStrings.cuestionario</a>
	</div>

	@if (Model.Alumno.Cuestionarios.Count == 0)
	{
		<div class="alert alert-bad">
			<strong class="alert-title">@AppStrings.dashboard_NoCuestionariosCreated</strong>
			<p>@AppStrings.availableSoon</p>
		</div>
	}

	<div class="title-with-action">
		<h2>@AppStrings.trainingPlans</h2>
		<a href="@Model.Id/Plan" class="button button-primary">+ @AppStrings.Action_Create @AppStrings.plan</a>
	</div>

	@if (Model.Alumno.JornadasEntrenamientos.Count == 0)
	{
		<div class="alert alert-bad">
			<strong class="alert-title">
				@AppStrings.dashboard_NoPlansCreated
			</strong>
		</div>
	}

	<section>
		@foreach (var rutina in Model.Alumno.JornadasEntrenamientos.OrderBy(r => r.Estado))
		{
			var badgeColour = rutina.Estado switch
			{
				EstadoRutina.Borrador => "bad",
				EstadoRutina.Realizada => "good",
				EstadoRutina.Publicada => "warning",
				_ => "bad"
				};

			<li>
				<span class="badge badge-@badgeColour">@rutina.Estado</span>
				-
				<a class="link link-text" href="@Model.Id/Plan?p=@rutina.Id">
					@if (rutina.Nombre.IsNullOrWhiteSpace())
					{
						<i>Sin nombre</i>
					}
					@rutina.Nombre
				</a>
			</li>
		}
	</section>
</main>