@page "/Dashboard/Alumnos/{id}"
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model SingleAlumnoModel
@{
	ViewData["Title"] = @Model.Alumno.NombreCompleto;
}

<main id="main-container">
	<h1>
		@Model.Alumno.NombreCompleto
	</h1>

	<div class="title-with-action">
		<h2>@AppStrings.cuestionarios</h2>
		<a href="#" class="button button-disabled">+ @AppStrings.crear @AppStrings.cuestionario</a>
	</div>

	@if (Model.Alumno.Cuestionarios.Count == 0)
	{
		<div class="alert alert-bad">
			<strong class="alert-title">@AppStrings.dashboard_NoCuestionariosCreated</strong>
			<p>@AppStrings.availableSoon</p>
		</div>
	}

	<div class="title-with-action">
		<h2>@AppStrings.trainingPlans</h2>
		<a href="@Model.Id/NuevoPlan" class="button button-primary">+ @AppStrings.crear @AppStrings.plan</a>
	</div>

	@if (Model.Alumno.JornadasEntrenamientos.Count == 0)
	{
		<div class="alert alert-bad">
			<strong class="alert-title">
				@AppStrings.dashboard_NoPlansCreated
			</strong>
		</div>
	}

	<ul>
		@foreach (var rutina in Model.Alumno.JornadasEntrenamientos)
		{
			@rutina.Nombre
		}
	</ul>
</main>