@using Microsoft.AspNetCore.Identity
@using Mientreno.Server.Data.Models
@inject UserManager<Usuario> UserManager

@{ var usuario = UserManager.GetUserAsync(User).Result; }

@if (usuario is null)
{
	<header>
		<a asp-area="" asp-page="/Index">
			<img src="~/isotipo.svg" alt="mientreno" id="isotipo"/>
		</a>

		<nav>
			<a asp-area="" asp-page="/Login" class="link link-inverted link-nav">@AppStrings.doLogin</a>
			<a asp-area="" asp-page="/Register" class="link link-inverted link-bold link-nav">@AppStrings.doRegister</a>
		</nav>
	</header>
}
else
{
	<environment include="@Environments.Development">
		@Html.Raw(string.Join("<br />", User.Claims.Select(c => $"{c.Type} => {c.Value}"))) )
	</environment>
	<header>
		<a asp-area="" asp-page="/Index">
			<img src="~/isotipo.svg" alt="mientreno" id="isotipo"/>
		</a>

		@{
			var area = usuario is Alumno ? "Alumnos" : "Dashboard";
		}
		<nav>
			<a asp-page="/Index" asp-area="@area" class="link-badge">
				@{ var png = usuario.Id + ".png"; }
				<img src="/Static/profile/@png" alt="profile"/>
				@AppStrings.hello, @usuario.Nombre
			</a>
		</nav>

	</header>
}