@using Microsoft.AspNetCore.Identity
@using Mientreno.Server.Data.Models
@inject UserManager<Usuario> UserManager

@{ var usuario = UserManager.GetUserAsync(User).Result; }

@if (usuario is null)
{
	<header>
		<a asp-page="Index">
			<img src="~/isotipo.svg" alt="mientreno" id="isotipo"/>
		</a>

		<nav>
			<a asp-page="/Login" class="link link-white link-nav">@AppStrings.doLogin</a>
			<a asp-page="/Register" class="link link-white link-bold link-nav">@AppStrings.doRegister</a>
		</nav>
	</header>
}
else
{
	<environment include="@Environments.Development">
		@Html.Raw( string.Join("<br />", User.Claims.Select(c => $"{c.Type} => {c.Value}" ))) )
	</environment>
	<header>
		<a asp-page="Index">
			<img src="~/isotipo.svg" alt="mientreno" id="isotipo"/>
		</a>

		<nav>
			<a asp-page="Index" asp-area="Dashboard" class="link link-white link-nav">
				@{ var png = usuario.Id + ".png"; }
				<img src="/Static/profile/@png" alt="profile"/>
				@AppStrings.hello, @usuario.Nombre
			</a>
		</nav>

	</header>
}