@using Microsoft.AspNetCore.Identity
@using Mientreno.Server.Data.Models
@inject UserManager<Usuario> UserManager

@{
	var usuario = UserManager.GetUserAsync(User).Result;
	var area = usuario is Alumno ? "Alumnos" : "Dashboard";
}

<header>
	<a asp-area="@area" asp-page="/Index" class="header-brand">
		<img src="~/logo.svg" alt="mientreno" id="isotipo"/>
	</a>

	<nav>
		@if (usuario is null)
		{
			<a asp-area="" asp-page="/Login" class="link link-inverted link-nav">@AppStrings.Action_Login</a>
			<a asp-area="" asp-page="/Register" class="link link-inverted link-bold link-nav">@AppStrings.Action_Register</a>
		}
		else
		{
			<a asp-page="/Index" asp-area="@area" class="link-user">
				@{ var png = usuario.Id + ".png"; }
				<img src="/Static/profile/@png" alt="profile"/>
				@AppStrings.hello, @usuario.Nombre
			</a>
		}
	</nav>

</header>