@page
@model EjerciciosModel
@{
	ViewData["Title"] = @AppStrings.ejercicios;
}

<main id="main-container">
	<div id="title-with-action">
		<h2>@AppStrings.ejercicios</h2>

		<form method="post" id="form-categoria"></form>
		<div class="form-inline">
			<label asp-for="NuevaCategoriaName" form="form-categoria">Nueva categoría</label>
			<input asp-for="NuevaCategoriaName" form="form-categoria" class="form-control" placeholder="@AppStrings.name"/>
			<input type="submit" class="button button-primary" value="+ Crear" form="form-categoria">
		</div>
	</div>

	<div id="list">

		@foreach (var categoria in Model.Categorias)
		{
			<details>
				<summary>@categoria.Nombre</summary>
				<ul>
					@foreach (var ejercicio in categoria.Ejercicios)
					{
						<li>@ejercicio.Nombre</li>
					}
				</ul>
			</details>
		}
	</div>
</main>