@page
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using System.Globalization
@model DashboardModel
@{
	ViewData["Title"] = "Dashboard";
}

<main id="main-invisible">
	<h2>@AppStrings.dashboard</h2>
	<div class="card-holder">
		<div class="card" id="card-alumnos">
			<h2>🎽 @AppStrings.dashboard_MyStudents</h2>
			<p>@Model.Alumnos @AppStrings.dashboard_AlumnosOutOf @Model.MaxAlumnos</p>
			<a asp-page="/Alumnos/Index" class="link link-primary link-bold">
				@AppStrings.Action_Manage @AppStrings.alumnos
			</a>
			<meter value="@Model.Alumnos" min="0" max="@Model.MaxAlumnos" high="@(Model.MaxAlumnos * 0.9)"> </meter>
		</div>

		<div class="card" id="card-suscripcion">
			<h2>🗝️ @AppStrings.dashboard_MySubscription</h2>
			<div class="card-content">
				<p>
					@AppStrings.dashboard_SubscribedToPlan <b>@Model.Entrenador.Suscripcion.Plan.ToString()</b>.
					@if (Model.Entrenador.Suscripcion.RenovacionAutomatica)
					{
						@AppStrings.dashboard_SubscriptionWillBeRenewedAt
						@Model.Entrenador.Suscripcion.FechaFin.ToString("D").ToLower()
					}
					else
					{
						@AppStrings.dashboard_SubscriptionWillEndAt
						@Model.Entrenador.Suscripcion.FechaFin.ToString("D").ToLower()
					}
					.
				</p>
				<a asp-page="Subscribe" asp-area="Dashboard" class="link link-primary link-bold">
					@AppStrings.masDetalles
				</a>

				@{
					var total = (Model.Entrenador.Suscripcion.FechaFin - Model.Entrenador.Suscripcion.FechaInicio).TotalDays;
					var completado = (DateTime.Now - Model.Entrenador.Suscripcion.FechaInicio).TotalDays;
					var high = total * 0.9;

					var t = total.ToString(CultureInfo.InvariantCulture);
					var c = completado.ToString(CultureInfo.InvariantCulture);
					var h = high.ToString(CultureInfo.InvariantCulture);
				}
				<meter value="@c" min="0" max="@t" high="@h"> </meter>
			</div>
		</div>
	</div>
</main>