@page
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.EntityFrameworkCore.Metadata.Internal
@model DashboardModel
@{
	ViewData["Title"] = "Dashboard";
}

<main id="main-container">
	<h2>@AppStrings.dashboard</h2>
	<div class="card-holder">
		<div class="card" id="card-alumnos">
			<h3>@AppStrings.dashboard_MyStudents</h3>
			<p>Tienes @Model.Alumnos alumnos de un total de 3</p>
			<a asp-page="Alumnos" class="link link-primary link-bold">Gestionar alumnos</a>
		</div>

		<div class="card" id="card-suscripcion">
			<h3>@AppStrings.dashboard_MySubscription</h3>
			<div class="card-content">
				<p>
					@AppStrings.dashboard_SubscribedToPlan <b>@Model.Entrenador.Suscripcion.Plan</b>.
					@if (Model.Entrenador.Suscripcion.RenovacionAutomatica)
					{
						@AppStrings.dashboard_SubscriptionWillBeRenewedAt
						@Model.Entrenador.Suscripcion.FechaFin.ToString("D").ToLower()
					}
					else
					{
						@AppStrings.dashboard_SubscriptionWillEndAt
						@Model.Entrenador.Suscripcion.FechaFin.ToString("D").ToLower()
					}
					.
				</p>
				<a asp-page="Subscribe" asp-area="Dashboard" class="link link-primary link-bold">
					@AppStrings.masDetalles
				</a>

				@{
					var total = (Model.Entrenador.Suscripcion.FechaFin - Model.Entrenador.Suscripcion.FechaInicio).TotalDays;
					var completado = (DateTime.Now - Model.Entrenador.Suscripcion.FechaInicio).TotalDays;
					var high = total * 0.9;
				}
				<meter value="@completado" min="0" max="@total" high="@high"> </meter>
			</div>
		</div>
	</div>
</main>