@page
@model SubscribeModel
@{
	ViewData["Title"] = AppStrings.pricing;
}

<main id="main-dialogue">
	<h1>@AppStrings.pricing</h1>

	<strong>
		@if (Model.Entrenador.Suscripcion.Operativa)
		{
			@AppStrings.dashboard_SubscribedToPlan
			@Model.Entrenador.Suscripcion.Plan
		}
		else
		{
			@AppStrings.dashboard_NotSubscribedToPlan
		}
	</strong>
	<p>
		@AppStrings.dashboard_WeUseStripe
		<a href="@Model.StripeSubscriptionManager">@AppStrings.dashboard_StripeClientPanel</a>.
	</p>

	<p>
		@AppStrings.dashboard_ProblemWithStripe
		<a asp-area="" asp-page="Contact">
			@AppStrings.dashboard_GetInTouch
		</a>
	</p>
</main>