@page
@model SubscribeModel
@{
	ViewData["Title"] = AppStrings.pricing;
}

<main id="main-container">
	<h1>@AppStrings.pricing</h1>

	@if (Model.Entrenador.Suscripcion.Operativa)
	{
		<strong>
			@AppStrings.dashboard_SubscribedToPlan
			@Model.Entrenador.Suscripcion.Plan
		</strong>
		<p>
			@AppStrings.dashboard_WeUseStripe
			<a href="@Model.StripeSubscriptionManager">@AppStrings.dashboard_StripeClientPanel</a>.
		</p>
	}
	else
	{
		<strong>
			@AppStrings.dashboard_NotSubscribedToPlan
		</strong>

		@section HeaderExtras
		{
			<script async src="https://js.stripe.com/v3/pricing-table.js"></script>
		}
		<stripe-pricing-table pricing-table-id="prctbl_1NEW4FKk3b9U3IGlw0dmu8vJ"
		                      publishable-key="@Model.StripePublishable"
		                      client-reference-id="@Model.Entrenador.Suscripcion.CustomerId"
		                      customer-email="@Model.Entrenador.Email">
		</stripe-pricing-table>
	}

	<p>
		@AppStrings.dashboard_ProblemWithStripe
		<a asp-area="" asp-page="Contact">
			@AppStrings.dashboard_GetInTouch
		</a>
	</p>
</main>