@page
@model ContactModel
@{
	ViewData["Title"] = AppStrings.Page_Contact;
}

<main id="main-dialogue">
	<h1>@AppStrings.Page_Contact</h1>

	<p>
		@Html.Raw(AppStrings.Text_Contact_Methods)
	</p>

	@if (Model.ContactoEnviado)
	{
		<div class="alert alert-good" role="alert">
			<strong class="alert-title">@AppStrings.Alert_ContactSent_Title</strong>
			@AppStrings.Alert_ContactSent_Text
		</div>
	}

	<form method="post" id="form">
		@if (Model.LoggedInPrefill)
		{
			<div class="alert alert-good" role="alert">
				<strong class="alert-title">@AppStrings.Alert_ContactPreFilled_Title</strong>
				@AppStrings.Alert_ContactPreFilled_Text
			</div>
		}

		<div class="form-group">
			<label asp-for="Form.Nombre">@AppStrings.Input_Name</label>
			@if (Model.LoggedInPrefill)
			{
				<input asp-for="Form.Nombre" type="text" class="form-control" disabled/>
			}
			else
			{
				<input asp-for="Form.Nombre" type="text" autocomplete="name" class="form-control form-control-filled"/>
			}
			<span asp-validation-for="Form.Nombre" class="text-danger"></span>
		</div>

		<div class="form-group">
			<label asp-for="Form.Email">@AppStrings.Input_Email</label>
			@if (Model.LoggedInPrefill)
			{
				<input asp-for="Form.Email" type="email" class="form-control" disabled/>
			}
			else
			{
				<input asp-for="Form.Email" type="email" autocomplete="email" class="form-control form-control-filled"/>
			}
			<span asp-validation-for="Form.Email" class="text-danger"></span>
		</div>

		<div class="form-group">
			<label asp-for="Form.Mensaje">@AppStrings.Input_Message</label>
			<textarea asp-for="Form.Mensaje" class="form-control form-control-filled" rows="5"></textarea>
			<span asp-validation-for="Form.Mensaje" class="text-danger"></span>
		</div>

		<button class="button button-primary" type="submit">@AppStrings.Action_Contact</button>

		<small>
			@Html.Raw(@AppStrings.Text_Contact_Privacy)
		</small>
	</form>
</main>