@page
@using Microsoft.AspNetCore.Identity
@using Mientreno.Server.Data.Models
@inject SignInManager<Usuario> SignInManager
@{
	ViewData["Title"] = @AppStrings.Page_Landing;
}

<main id="landing">
	<section id="hero">
		<h1>@AppStrings.Text_LandingPage_Title</h1>

		<p>@AppStrings.Text_LandingPage_Text</p>

		@if (SignInManager.IsSignedIn(User))
		{
			<div class="inline">
				<a class="button button-primary button-large" asp-page="/Login">@AppStrings.CallToAction_GoToDashboard</a>
			</div>
		}
		else
		{
			<div class="inline">
				<a class="button button-primary button-large" asp-page="/Register">@AppStrings.CallToAction_SignUpNow</a>
				<a class="link link-inverted" asp-page="/Login">@AppStrings.CallToAction_OrLogIn</a>
			</div>
		}
	</section>
	<section id="features">
		<article id="feature-1" class="feature">
			<h2>@AppStrings.Text_LandingPage_Feature1_Title</h2>

			<p>@AppStrings.Text_LandingPage_Feature1_Text</p>
		</article>

		<article id="feature-2" class="feature">
			<h2>@AppStrings.Text_LandingPage_Feature2_Title</h2>

			<p>@AppStrings.Text_LandingPage_Feature2_Text</p>
		</article>

		<article id="feature-3" class="feature">
			<h2>@AppStrings.Text_LandingPage_Feature3_Title</h2>

			<p>@AppStrings.Text_LandingPage_Feature3_Text</p>
		</article>

		<article id="feature-4" class="feature">
			<h2>@AppStrings.Text_LandingPage_Feature4_Title</h2>

			<p>@AppStrings.Text_LandingPage_Feature4_Text</p>

			<a asp-page="Register" class="button button-large button-primary">@AppStrings.CallToAction_SignUpNow</a>
		</article>
	</section>

	<section id="contact">
		<h2>@AppStrings.Text_LandingPage_WannaKnowMore</h2>

		<p>@AppStrings.Text_LandingPage_ContactUsQuestions</p>

		<a asp-page="Contact" class="button button-large button-primary">@AppStrings.CallToAction_Contact</a>
	</section>
</main>