@page
@{
	ViewData["Title"] = "Inicio";
}

<div id="landing">
	<div id="hero">
		<h1>@AppStrings.landing_Titulo</h1>

		<p>@AppStrings.landing_Subtitulo</p>

		<div class="row">
			<a class="button button-primary button-large" asp-page="/Register">@AppStrings.landing_RegistrateYa</a>
			<a class="link link-white" asp-page="/Login">@AppStrings.landing_OIniciaSesion</a>
		</div>
	</div>
	<div id="features">

		<div id="feature-1" class="feature">
			<h2>@AppStrings.landing_Feature1_Titulo</h2>

			<p>@AppStrings.landing_Feature1_Subtitulo</p>
		</div>

		<div id="feature-2" class="feature">
			<h2>@AppStrings.landing_Feature2_Titulo</h2>

			<p>@AppStrings.landing_Feature2_Subtitulo</p>
		</div>

		<div id="feature-3" class="feature">
			<h2>@AppStrings.landing_Feature3_Titulo</h2>

			<p>@AppStrings.landing_Feature3_Subtitulo</p>
		</div>

		<div id="feature-4" class="feature">
			<h2>@AppStrings.landing_Feature4_Titulo</h2>

			<p>@AppStrings.landing_Feature4_Subtitulo</p>

			<a asp-page="/Signup" class="button button-large button-primary">@AppStrings.landing_RegistrateYa</a>
		</div>
	</div>

	<div id="contact">
		<h2>¿Quieres saber más? ¿Tienes alguna duda?</h2>

		<p>Haznos llegar tus consultas, y las resolveremos lo antes posible.</p>

		<a class="button button-large button-primary">Contacta con nosotros</a>
	</div>
</div>