@page
@{
	ViewData["Title"] = AppStrings.Page_Login;
}
@using Microsoft.IdentityModel.Tokens
@model LoginChallengeModel

<main id="main-dialogue">
	<h1>@AppStrings.Doing_VerifyIdentity</h1>

	@if (!Model.MensajeError.IsNullOrEmpty())
	{
		<p class="text-danger">
			@Model.MensajeError
		</p>
	}

	<form method="post" id="form">
		<div class="form-group">
			<label asp-for="Form.Code">@AppStrings.Input_MfaCode</label>
			<input asp-for="Form.Code" type="text" class="form-control" placeholder="123 456"/>
		</div>

		<div class="form-check">
			<input asp-for="Form.RememberDevice" type="checkbox" class="form-check-input"/>
			<label asp-for="Form.RememberDevice">
				@AppStrings.Input_RememberDevice
			</label>
		</div>

		<button class="button button-primary" type="submit">@AppStrings.Action_Login</button>
	</form>

</main>