@page
@{
	ViewData["Title"] = AppStrings.Page_Login;
}
@using Microsoft.IdentityModel.Tokens
@model LoginModel

<main id="main-dialogue">
	<h1>@AppStrings.Page_Login</h1>

	@if (Model.ModelState.ErrorCount > 0)
	{
		<div class="alert alert-bad">
			<strong class="alert-title">Hubo un error</strong>
			@Model.ModelState.Values.SelectMany(v => v.Errors).Select(e => e.ErrorMessage).FirstOrDefault()
		</div>
	}

	<form method="post" id="form">
		<div class="form-group">
			<label asp-for="Form.Email">@AppStrings.Input_Email</label>
			<input asp-for="Form.Email" type="email" autocomplete="email" placeholder="joseluis@gmail.com" class="form-control form-control-filled"/>
		</div>

		<div class="form-group">
			<label asp-for="Form.Contraseña">@AppStrings.Input_Password</label>
			<input asp-for="Form.Contraseña" type="password" autocomplete="current-password" class="form-control form-control-filled"/>
		</div>

		<div class="form-check">
			<input asp-for="Form.Recordar" type="checkbox" class="form-check-input"/>
			<label asp-for="Form.Recordar">
				@AppStrings.Input_RememberMe
			</label>
		</div>

		<a asp-page="Register" class="link link-primary">@AppStrings.newHereRegister</a>

		<button class="button button-primary" type="submit">@AppStrings.Action_Login</button>
	</form>

</main>