@page
@{
	ViewData["Title"] = AppStrings.Doing_SetPassword;
}
@attribute [ResponseCache(Location = ResponseCacheLocation.None, NoStore = true)]
@model PasswordResetModel

<main id="main-dialogue">
	<h1>@AppStrings.Doing_SetPassword</h1>

	<form method="post" id="form">
		<input type="hidden" asp-for="Form.Token" />
		
		<div class="form-group">
			<label asp-for="Form.Email">@AppStrings.Input_Email</label>
			<input asp-for="Form.Email" type="email" class="form-control form-control-filled" placeholder="joseluis@gmail.com" required/>
			<span class="text-danger" asp-validation-for="Form.Email"></span>
		</div>

		<div class="form-group">
			<label asp-for="Form.Contraseña">@AppStrings.Input_Password</label>
			<input asp-for="Form.Contraseña" type="password" class="form-control form-control-filled" required/>
			<span class="text-danger" asp-validation-for="Form.Contraseña"></span>
		</div>

		<div class="form-group">
			<label asp-for="Form.RepetirContraseña">@AppStrings.Input_ConfirmPassword</label>
			<input asp-for="Form.RepetirContraseña" type="password" class="form-control form-control-filled" required/>
			<span class="text-danger" asp-validation-for="Form.RepetirContraseña"></span>
		</div>

		<button class="button button-primary" type="submit">@AppStrings.Action_Login</button>
	</form>

</main>