@page
@using Humanizer
@{
	ViewData["Title"] = AppStrings.Page_Pricing;
}

<main id="main-info">
	<h1>@AppStrings.Page_Pricing</h1>

	<p>
		@AppStrings.Text_Pricing_SubscriptionNeeded
	</p>

	<section id="prices">
		<article>
			<h2>Basic</h2>
			<h3>1,99 €/mes (19,90 €/año)</h3>

			<ul>
				<li>@AppStrings.Text_Pricing_TrainUpToPeople.FormatWith("2")</li>
			</ul>
		</article>

		<article id="plan-destacado">
			<h2>⭐ Estándar</h2>
			<h3>4,99 €/mes (49,90 €/año)</h3>

			<ul>
				<li>@AppStrings.Text_Pricing_TrainUpToPeople.FormatWith("5")</li>
				<li>@AppStrings.Text_Pricing_PrioritySupport</li>
			</ul>
		</article>

		<article>
			<h2>Prime</h2>
			<h3>9,99 €/mes (99,00 €/año)</h3>

			<ul>
				<li>@AppStrings.Text_Pricing_TrainUpToPeople.FormatWith("20")</li>
				<li>@AppStrings.Text_Pricing_PrioritySupport</li>
			</ul>
		</article>
	</section>

	<a asp-page="Register" asp-area="" class="button button-primary">
		@AppStrings.CallToAction_SignUpNow
	</a>

	<p>
		@AppStrings.Text_Pricing_MonthlyAndAnnuallyAvailable
	</p>

	<p>
		@AppStrings.Text_Pricing_Free14DayTrial
	</p>

	<p>
		@AppStrings.Text_Pricing_FreeForAlumnos
	</p>

	<p>
		<strong>
			@Html.Raw(@AppStrings.Text_Pricing_AvisoAutonomos)
		</strong>
	</p>
</main>