@page
@model RegisterModel
@{
	ViewData["Title"] = AppStrings.Page_Register;
}

<main id="main-dialogue">
	<h1>@AppStrings.Page_Register</h1>

	@if (Model.Invitacion is not null)
	{
		<div class="alert alert-good">
			<strong class="alert-title">@Model.Invitacion.Entrenador.Nombre @AppStrings.Alert_SignUpInvite_Title</strong>
			<p>
				@AppStrings.Alert_SignUpInvite_Text <strong>@Model.Invitacion.Entrenador.NombreCompleto.</strong>.
			</p>
		</div>
	}

	@if (Model.EmailSent)
	{
		<p>@AppStrings.registrationDoneEmailSent</p>
	}
	else if (Model.InviteError)
	{
		<div class="alert alert-bad">
			<strong class="alert-title">@AppStrings.Alert_InviteInvalid_Title</strong>
			<p>
				@AppStrings.Alert_InviteInvalid_Text
			</p>
		</div>
	}
	else
	{
		<form method="post">
			<div class="form-group">
				<div class="form-group-double">
					<div class="form-group">
						<label asp-for="Form.Nombre">@AppStrings.Input_Name</label>
						<input asp-for="Form.Nombre" autocomplete="given-name" class="form-control"/>
					</div>

					<div class="form-group">
						<label asp-for="Form.Apellidos">@AppStrings.Input_Surname</label>
						<input asp-for="Form.Apellidos" autocomplete="family-name" class="form-control"/>
					</div>
				</div>
				<span asp-validation-for="Form.Nombre" class="text-danger"></span>
				<span asp-validation-for="Form.Apellidos" class="text-danger"></span>
			</div>

			<div class="form-group">
				<label asp-for="Form.Email">@AppStrings.Input_Email</label>
				<input asp-for="Form.Email" type="email" autocomplete="email" class="form-control"/>
				<span asp-validation-for="Form.Email" class="text-danger"></span>
			</div>

			<div class="form-group">
				<label asp-for="Form.Contraseña">@AppStrings.Input_Password</label>
				<input asp-for="Form.Contraseña" type="password" autocomplete="new-password" class="form-control"/>
				<span asp-validation-for="Form.Contraseña" class="text-danger"></span>
			</div>

			<div class="form-group">
				<label asp-for="Form.ConfirmarContraseña">@AppStrings.confirmPassword</label>
				<input asp-for="Form.ConfirmarContraseña" type="password" autocomplete="new-password" class="form-control"/>
				<span asp-validation-for="Form.ConfirmarContraseña" class="text-danger"></span>
			</div>

			<a asp-page="/login" class="link link-primary link-bold">@AppStrings.alreadyHaveAccountLogin</a>

			<div class="form-check">
				<input asp-for="Form.AceptoTerminos" type="checkbox" class="form-check-input"/>
				<label asp-for="Form.AceptoTerminos">
					@AppStrings.iveReadAndAccept
					<a asp-page="/Terms" class="link link-primary link-bold">@AppStrings.theTermsAndConditions</a>.
				</label>
				<span asp-validation-for="Form.AceptoTerminos" class="text-danger"></span>
			</div>

			<button class="button button-primary" type="submit">@AppStrings.Action_Register</button>
		</form>
	}
</main>