@using Microsoft.AspNetCore.Identity
@using Mientreno.Server.Models
@inject UserManager<Usuario> UManager

@{ var usuario = UManager.GetUserAsync(User).Result!; }

<environment include="@Environments.Development">
	@Html.Raw(string.Join("<br />", User.Claims.Select(c => $"{c.Type} => {c.Value}"))) )
</environment>
<header>
	<a asp-page="/Dashboard">
		<img src="~/isotipo.png" alt="mientreno" id="isotipo"/>
	</a>

	<nav>
		<a asp-area="Dashboard" asp-page="Index" class="link link-white link-nav link-bold">
			🏠@AppStrings.dashboard
		</a>
		<a asp-area="Dashboard" asp-page="Alumnos" class="link link-white link-nav link-bold">
			🎽 @AppStrings.alumnos
		</a>
		<a asp-area="Dashboard" asp-page="Index" class="link link-white link-nav link-bold">
			🏋️ @AppStrings.ejercicios
		</a>
	</nav>

	<nav>
		<a asp-page="Index" class="link link-white link-nav">@AppStrings.hello, @usuario.Nombre</a>
	</nav>

</header>