@page
@model EjerciciosNuevoModel
@{
	ViewData["Title"] = @AppStrings.Doing_CrearEjercicio;
}

<main id="main-container">
	@if (Model.Editando)
	{
		<h1>@AppStrings.Doing_EditarEjercicio @Model.Form.Nombre</h1>
	}
	else
	{
		<h1>@AppStrings.Doing_CrearEjercicio</h1>
	}

	<form method="post">
		<div class="form-group">
			<label asp-for="Form.Nombre">@AppStrings.Input_Name</label>
			<input asp-for="Form.Nombre" class="form-control"/>
			<span asp-validation-for="Form.Nombre" class="text-danger"></span>
		</div>
		<div class="form-group">
			<label asp-for="Form.Descripcion">@AppStrings.Input_Descripcion</label>
			<textarea asp-for="Form.Descripcion" class="form-control" rows="5"></textarea>
			<span asp-validation-for="Form.Descripcion" class="text-danger"></span>
		</div>
		<div class="form-group">
			<label asp-for="Form.UrlVideo">@AppStrings.Input_YoutubeVideoUrl</label>
			<input asp-for="Form.UrlVideo" class="form-control"/>
			<span asp-validation-for="Form.UrlVideo" class="text-danger"></span>
		</div>

		<div class="form-group">
			<label asp-for="Form.Dificultad">@AppStrings.dificultad</label>
			<input type="range" min="1" max="5" asp-for="Form.Dificultad"/>
			<span asp-validation-for="Form.Dificultad" class="text-danger"></span>
		</div>

		@if (Model.Editando)
		{
			<input type="submit" class="button button-primary" value="💾 @AppStrings.Action_Edit"/>
		}
		else
		{
			<input type="submit" class="button button-primary" value="+ @AppStrings.Action_Create"/>
		}
	</form>
</main>