@page
@model EjerciciosIndexModel
@{
	ViewData["Title"] = @AppStrings.ejercicios;
}

<main id="main-invisible">
	<div class="title-with-action">
		<h2>@AppStrings.ejercicios</h2>

		<form method="post" id="form-categoria"></form>
		<div class="form-inline">
			<label asp-for="NuevaCategoriaName" form="form-categoria">@AppStrings.nuevaCategoria</label>
			<input asp-for="NuevaCategoriaName" form="form-categoria" class="form-control" placeholder="@AppStrings.Input_Name"/>
			<input type="submit" class="button button-primary" value="+ @AppStrings.Action_Create" form="form-categoria">
		</div>
	</div>

	@if (Model.Categorias.Count == 0)
	{
		<div class="alert alert-bad">
			<strong class="alert-title">@AppStrings.noHayCategorias</strong>
		</div>
	}

	<div id="list">
		@foreach (var categoria in Model.Categorias)
		{
			<div class="category">
				<strong role="heading">
					@categoria.Nombre (@categoria.Ejercicios.Count) --
					<a class="link link-primary link-bold"
					   href="@Url.Page("/Ejercicios/Editor", new { cat = categoria.Id })">
						@AppStrings.Action_Create
					</a>
				</strong>
				<div class="ejercicios">
					@foreach (var ejercicio in categoria.Ejercicios)
					{
						<a class="link link-primary"
						   href="@Url.Page("/Ejercicios/Editor", new { id = ejercicio.Id })">
							@ejercicio.Nombre
						</a>
					}
				</div>
			</div>
		}
	</div>
</main>