@page
@model EjerciciosNuevoModel
@{
	ViewData["Title"] = @AppStrings.nuevoEjercicio;
}

<main id="main-container">
	<h2>@AppStrings.nuevoEjercicio</h2>

	<form method="post">
		<div class="form-group">
			<label asp-for="Form.Nombre">@AppStrings.name</label>
			<input asp-for="Form.Nombre" class="form-control"/>
			<span asp-validation-for="Form.Nombre" class="text-danger"></span>
		</div>
		<div class="form-group">
			<label asp-for="Form.Descripcion">@AppStrings.descripcion</label>
			<textarea asp-for="Form.Descripcion" class="form-control" rows="5"></textarea>
			<span asp-validation-for="Form.Descripcion" class="text-danger"></span>
		</div>
		<div class="form-group">
			<label asp-for="Form.UrlVideo">@AppStrings.urlVideoYoutube</label>
			<input asp-for="Form.UrlVideo" class="form-control"/>
			<span asp-validation-for="Form.UrlVideo" class="text-danger"></span>
		</div>

		<div class="form-group">
			<label asp-for="Form.Dificultad">@AppStrings.dificultad</label>
			<input type="range" min="1" max="5" asp-for="Form.Dificultad"/>
			<span asp-validation-for="Form.Dificultad" class="text-danger"></span>
		</div>

		<input type="submit" class="button button-primary" value="+ @AppStrings.crear"/>
	</form>
</main>