@page "/Signup"
@using Mientreno.Compartido.Recursos
@inject HttpClient Http
@inject NavigationManager NavigationManager
@layout LandingLayout

<PageTitle>Registro - MiEntreno</PageTitle>

<div id="signup">
	<h1>@AppStrings.register</h1>
	@if (_signupSuccess)
	{
		<p>@AppStrings.registrationDoneEmailSent</p>
		<ButtonLink LinkStyle="ButtonLink.Styles.LinkPrimary" href="">@AppStrings.back</ButtonLink>
	}
	else
	{
		<EditForm Model="@_model" id="form" OnValidSubmit="DoSignUp">
			<DataAnnotationsValidator/>
			<ValidationSummary/>
			<ul class="validation-errors">
				<li>@_customError</li>
			</ul>
			<div class="two-in-one">
				<div class="form-group">
					<label for="Nombre">@AppStrings.name</label>
					<InputText autocomplete="given-name" id="Nombre" class="form-control" @bind-Value="_model.Nombre"/>
				</div>

				<div class="form-group">
					<label for="Apellidos">@AppStrings.surname</label>
					<InputText autocomplete="family-name" id="Apellidos" class="form-control" @bind-Value="_model.Apellidos"/>
				</div>
			</div>

			<div class="form-group">
				<label for="Correo">@AppStrings.email</label>
				<InputText type="email" autocomplete="email" id="Correo" class="form-control" @bind-Value="_model.Correo"/>
			</div>

			<div class="form-group">
				<label for="Password">@AppStrings.password</label>
				<InputText type="password" autocomplete="new-password" id="Password" class="form-control" @bind-Value="_model.Password"/>
			</div>

			<p>
				@AppStrings.youAcceptTermsAndConditions
			</p>

			<Button ButtonStyle="@Button.Styles.Primary" type="submit">@AppStrings.doRegister</Button>
		</EditForm>
	}
</div>