@page
@using Mientreno.Server.Data.Models
@using Mientreno.Server.Extensions
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model AlumnoIndexModel
@{
	ViewData["Title"] = "Dashboard";
}

<main id="main-container">
	<h1>@AppStrings.hello, @Model.Alumno.Nombre</h1>

	<h3>👤 @AppStrings.Text_Dashboard_MyAccount_Title</h3>

	<a asp-page="/Index" asp-area="Accounts" class="link link-primary link-bold">
		@AppStrings.Action_ManageAccount
	</a>

	<a asp-page="/Logout" asp-area="Accounts" class="link link-bad link-bold">
		@AppStrings.Action_Logout
	</a>

	<h3>@AppStrings.Text_Alumnos_ScheduledJornadas</h3>

	@{
		var entrenamientosPublicados = Model.Alumno
			.JornadasEntrenamientos
			.Where(j => j.Estado == EstadoRutina.Publicada)
			.ToList();
	}

	@if (entrenamientosPublicados.Count == 0)
	{
		<p>@AppStrings.Text_Alumnos_NoJornadasScheduled</p>
	}

	<section id="section-planes">
		@foreach (var rutina in entrenamientosPublicados)
		{
			<a href="Alumnos/Plan?p=@rutina.Id" class="link link-no-underline">
				<span class="badge badge-@rutina.BadgeColour">@rutina.BadgeText</span>
				-
				<span class="link link-text">
					@if (rutina.Nombre.IsNullOrWhiteSpace())
					{
						<i>@AppStrings.Noun_JornadaEntrenamiento_NoName</i>
					}

					@rutina.Nombre
					-
					@rutina.UltimaFecha.ToString("dd MMMM yyyy', ' HH:mm")
				</span>
			</a>
		}
	</section>
</main>